#main_form #balance {
	color: red; 
	font-size: 12pt;
	font-weight: bold; 
	width: 100%;
	text-align: left;
    padding-right: 0;
	}
#main_form #balance_pass {
	color: lightgray;
	font-size: 12pt;
	font-weight: bold;
	width: 100%;
	text-align: left;
    padding-top: 0;
    padding-bottom: 0;
}
#main_form #Limit {
	color: red; 
	font-size: 16pt;
	font-weight: bold; 
	width: 100%;
	text-align: right;
	}
#main_form #Capacity {
	color: red; 
	font-size: 16pt;
	font-weight: bold; 
	width: 100%;
	text-align: right;
	}
	
	
#main_form table{
	width: 100%;
	//border: 1px black solid;
}

#main_form #sum {
	text-align: right;
	font-weight: bold;
	font-size: 16px;
	color: blue;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
    line-height: 1.3em;
}

#main_form #Period {
	text-align: right;
	font-weight: bold;
	font-size: 15pt;
	color: blue;
	text-align: right;
}

#main_form #Size {
	text-align: right;
	font-weight: bold;
	font-size: 15pt;
	color: blue;
	text-align: right;
}

#main_form #date, #account_name, #valid_thrue, #limit {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    line-height: 1.3em;
    min-height: 0;
    height: 2.7em;
}

#nav-panel{
	line-height: 0;
	padding-top: 1em;
	padding-bottom: 1em;
} 
header {
	height: 50px;
}

footer {
	height: 3em;
}
#mcon_1 footer, #transactions footer, #mfin_1 footer, #mcont_1 footer, #contactlist footer {
	height: 6em;
}
footer div ul li a {
	height: 2em;
}

#login_data {
	width: 16em;
	margin: 0 auto;
}

#main_form, #reg_data, #new_account_data{
  line-height: 0.3;
 }

#main{
 padding-top: 0;
 padding-bottom: 0;
 }
 
.data_list{
 line-height: 0;
 }

.account_but button{
	width: 190px;
}
.account_but{
	bottom: 50px;
	height: auto;
}
.moacl-reg-message {
	/*border: 1px solid black;*/
	color: rgba(255,0,0,0.7);
	font-size: 9pt;
	font-weight: bold;
	height: 1em;
	padding-top: 0em;
	text-align: right;	
}


.moacl-field-reg {
	max-width: 20em;
	height: 4em;
	text-align: right;
	margin: 0 auto !important;
	border: none;
}

.moacl-common {
	max-width: 40em;
	text-align: center;
	margin: 0 auto;
}

div.ui-controlgroup-controls {
	float: none !important;;
	width: auto !important;;
}
div.ui-field-contain{
	border-bottom-width: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
}
a.ui-link{
background-color: rgba(255,255,255,0) !important;
}

div.ui-navbar{
	background-color: rgba(255, 255, 255, 1) !important;
}
#accountblock div.ui-input-text
{
	border-style: none;

}
#bal div.ui-input-text
{
    margin-bottom: 0;
    margin-top: 8px;
}
#balpas div.ui-input-text
{
    border-top-style: solid;
	border-color: lightgray;
	border-width: 2px;
    margin-top: 0;
    padding-top: 8px;
    margin-bottom: 0;
}

#categoryblock fieldset.ui-controlgroup
{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}
div#categoryblock, div#accountblock, div#nameBlock
{
    padding-bottom: 0;
}
#categoryblock div.ui-select
{
     margin-bottom: 0;
}
input.datafilter
{
	text-align: center;
}
#accountJournal li a
{
	border-bottom-width: 1px ;
    border-top-width: 0 ;
}

#permitExpensesBlock .ui-controlgroup-controls {
	margin-top: 4px;
}